---
import Layout from '../../layouts/Layout.astro';

// data
import devices from '../../data/devices.js';

// components import 
import DeviceBuySection from '../../components/blocks/DevicesBuySection.vue';
import ModelAltruist from '../../components/3dmodels/Altruist.vue';

// images
import { Image } from 'astro:assets';
import AltruistPhoto1 from "../../assets/images/hardware-2025/altruist-photo-6.webp";
import AltruistPhoto2 from "../../assets/images/hardware-2025/altruist-photo.webp";
import AltruistPhoto3 from "../../assets/images/hardware-2025/altruist-photo-2.webp";
import AltruistPhoto4 from "../../assets/images/hardware-2025/altruist-photo-3.webp";
import AltruistPhoto5 from "../../assets/images/hardware-2025/altruist-photo-4.webp";
import AltruistPhoto6 from "../../assets/images/hardware-2025/altruist-photo-5.webp";

const imagesAltruist = [
  AltruistPhoto1,
  AltruistPhoto2,
  AltruistPhoto3,
  AltruistPhoto4,
  AltruistPhoto5,
  AltruistPhoto6
];

// Filter products to get the current one
const altruist = devices.products.filter(product => product.code === 'altruist');

---

<Layout 
  title={$tr(altruist[0].title)} 
  description={$tr('Experience the power of true DePIN (Decentralized Physical Infrastructure Network) — a revolutionary technological movement brought to life and thriving with Robonomics.')}
  ogImage="/og-pics/devices-altruist.webp"
  pageTitle={$tr(altruist[0].title)} 
  backlink={{title: $tr('All hardware'), link: '/devices/', label: $tr('Go to all hardware')}}
>
  <DeviceBuySection price="$95" title={altruist[0].title} orderLinks={altruist[0].orderLinks} info={altruist[0].info} available={altruist[0].available} client:only>
    <ModelAltruist noanimation client:visible/>
  </DeviceBuySection>


  <article class="layout layout__content space-b-2">
    <p>{$tr('With the Altruist Outdoor Sensor, you become a force in decentralized environmental monitoring. Capture noise, dust, and temperature data—encrypted, mapped, and shared across a distributed network.')}</p>
    <p>
      {$tr('Experience the power of true DePIN (Decentralized Physical Infrastructure Network) — a revolutionary technological movement brought to life and thriving for years on our')}
      <a aria-label="go to decentralized sensor map" href="https://sensors.social/" target="_blank">{$tr('decentralized sensor map')}</a>.
    </p>
  </article>

  <h2 class="layout title-lined"><span>{ $tr('In its natural habitat') }</span></h2>

  <article class="layout layout--text-center space-b-2">
    <div class="grid-3 space-b-2 grid-with-scroll">
      {imagesAltruist.map((src, index) => (
        <Image src={src} alt={`altruist photo ${index + 1}`} aria-hidden="true" />
      ))}
    </div>

    <div class="twitter-share oldy">
      <img alt="x/twitter logo" aria-hidden="true" src="/images/twitter.webp"/>
      <div>
        <h2>📸 { $tr('Share Your “Altruist” in Action') }</h2>
        <p class="text-center"><b>{$tr('Tag')} <a href="https://x.com/RobonomicsHW" aria-label="robonomics hardware twitter and share your photo!">@RobonomicsHW</a> {$tr('(Robonomics Hardware) in your post with a photo.')}</b></p>
      </div>
    </div>
  </article>


  <h2 class="layout title-lined"><span>{ $tr('3 highlights for you') }</span></h2>

  <article class="layout space-b-2">
    <div class="grid-3">
      <section class="oldy">
        <h5 class="space-b-05">{$tr('Trust the Code')}</h5>
        <p>{$tr('Fully open-source, no hidden algorithms, no corporate surveillance. It’s transparency for the true decentralist.')}</p>
        <a class="highlight" aria-label="check our firmware" href="https://github.com/airalab/altruist-firmware" target="_blank">{$tr('Check open-source sensor firmware on GitHub')}</a>
      </section>

      <section class="oldy">
        <h5 class="space-b-05">{$tr('Your data, your keys')}</h5>
        <p>{$tr('Take full control of your data with our fully open-source connectivity module. Choose between Robonomics or secure Web3 cloud storage with your personal key—no closed clouds, no opaque code.')}</p>
      </section>

      <section class="oldy">
        <h5 class="space-b-05">{$tr('Always Connected, Always Secure')}</h5>
        <p>{$tr('Local P2P communication and Web3 cloud ensures that your your sensor is always accessible, no matter where you are. No centralized points of failure—just pure, peer-to-peer connection.')}</p>
      </section>

    </div>
  </article>

  <h2 class="layout title-lined"><span>{$tr('3 ways to use it')}</span></h2>

  <article class="layout layout__text space-b-2">
    <h5 class="space-b-05">{$tr('1. Join the Altruist Collective')}</h5>
    <p>{$tr('Plug the device into the global,')} <a class="highlight" aria-label="go to decentralized sensor map" href="https://sensors.social/" target="_blank">{$tr('decentralized sensor map')}</a>. 
    {$tr('Share your environmental intel with your neighbors, your community, or your decentralized network.')}</p>
  </article>

  <article class="layout layout__text space-b-2">
    <h5 class="space-b-05">{$tr('2. Operate your own Data Server +')}</h5>
    <p>{$tr("Data processing is always a sensitive issue. That's why we offer a fully open-source")}
    <a class="highlight" href="https://github.com/airalab/sensors-connectivity" aria-label="check open source connectivity module" target="_blank">{$tr('connectivity module')}</a>  
    {$tr('giving you the freedom to choose which servers to use for processing. No proprietary clouds, no hidden code.')}</p>
    <p>{$tr('Keep in mind, you can join the')} <a class="highlight" aria-label="go to decentralized sensor map" href="https://sensors.social/" target="_blank">{$tr('global decentralized sensor map')}</a> {$tr('even with a sensor connected through your own server!')}</p>
  </article>

  <article class="layout layout__text space-b-2">
    <h5 class="space-b-05">{$tr('3. Run your own Interactive Map ++')}</h5>
    <p>{$tr('Love the idea of a decentralized map but want to customize it with extra layouts and become an administrator of new sovereign sensor infrastructure? You can deploy')} <a href="https://github.com/airalab/sensors.social/" aria-label="GitHub Repository for the map" class="highlight" target="_blank">{$tr('your own version by forking')}</a> {$tr('our open-source code on GitHub (be sure to check the license type). Remember to use open-source resources responsibly.')}</p>
  </article>

  <h2 class="layout title-lined"><span>{$tr('Device Specifications')}</span></h2>

  <article class="layout layout__text space-b-2">
    <ul>
      <li><b>{$tr('Input Voltage:')}</b> {$tr('AC 100-240V 50/60Hz')}</li>
      <li><b>{$tr('Wireless protocol:')}</b> {$tr('Supports 2.4GHz Wi-Fi 6 (802.11 b/g/n) and Bluetooth 5 (LE), Zigbee with onboard antenna')}</li>
      <li>
        {$tr('Equipped with a high-performance')} <b> {$tr('32-bit RISC-V processor</b> with clock speed up to 160 MHz, and a low-power 32-bit RISC-V processor with clock speed up to 20MHz')}
      </li>
      <li><b>{$tr('Memory:')}</b> {$tr('320KB ROM, 512KB of HP SRAM, 16KB LP SRAM and 4MB Flash memory')}</li>
      <li><b>{$tr('USB-C')}</b> {$tr('for firmware development and updates')}</li>
      <li><b>{$tr('PM sensor:')}</b> {$tr('SDS011 laser PM2.5/PM10 sensor')}</li>
      <li><b>{$tr('Supported sensors:')}</b> {$tr('T&H: SHT3X,BME280,HTU21D; Noise Level Sensor: I2S INMP441; Geiger counter : Radsens.')}</li>
    </ul>
  </article>

  <h2 class="layout title-lined"><span>{$tr('Help & support')}</span></h2>

  <article class="layout layout__text space-b-2">
    <details>
      <summary class="text-center">{$tr('Steps to set up your Connectivity')}</summary>

      <p>
        {$tr('With Robonomics decentralized map you can use Robonomics Connectivity or create your own Connectivity Service.')}
        <b>{$tr('Robonomics Connectivity')}</b>: {$tr('Robonomics established three Connectivity hubs to ensure a stable connection. This option switched on by default on the station.')}
        <b>{$tr('Your own Connectivity')}</b>: {$tr('You may launch your own hub for receiving data from Altruist Civil Station and further processing.')}
      </p>

      <ol>
        <li>
          <p><b>{$tr('Deploy Connectivity')}</b></p>
          <p>{$tr('Technical requirements:')}</p>
          <ul class="list-smallgap">
            <li>{$tr('2 CPU cores;')}</li>
            <li>{$tr('4 GB RAM;')}</li>
            <li>{$tr('40 GB storage;')}</li>
            <li>{$tr('Static IP.')}</li>
          </ul>
          <p>
            {$tr('Than set up')}
            <a aria-label="see open source connectivity module" href="https://github.com/airalab/sensors-connectivity" target="_blank">{$tr('connectivity module')}</a> 
            {$tr('and follow')}
            <a aria-label="check the instruction for connectivity" href="https://robonomics.academy/en/learn/sensors-connectivity-course/sensors-connectivity-module/" target="_blank">{$tr('the instructions')}</a>.
          </p>
        </li>

        <li>
          <p><b>{$tr('Connect a station to your connectivity')}</b></p>
          <ol class="list-smallgap">
            <li>{$tr('Open your sensor settings by its IP.')}</li>
            <li>{$tr('Go to APIs settings.')}</li>
            <li>{$tr('Check the checkbox for sending data to custom API and fill corresponding fields (server IP, ports, etc.).')}</li>
          </ol>
        </li>

        <li>
          <p><b>{$tr('Join with your setup to global map (optional)')}</b></p>
          <p>
            {$tr('If you want to publish data to')} 
            <a aria-label="see the sensors map" href="https://sensors.social/" target="_blank">{$tr('the global map')}</a>, 
            {$tr('you need to make two pull requests:')}
          </p>

          <ol class="list-smallgap">
            <li>
              {$tr('Add IPFS ID of your Connectivity to agents list of sensor map:')}
              <a aria-label="check agents.json file" href="https://github.com/airalab/sensors.social/blob/master/src/agents.json" class="text-break" target="_blank">
                https://github.com/airalab/sensors.social/blob/master/src/agents.json
              </a>
            </li>
            <li>
              {$tr('Add parachain address of your Connectivity to template agents list of long-term storage server:')}
              <a aria-label="check agents.template.json file" href="https://github.com/airalab/RoSeMAN/blob/master/config/agents.template.json" class="text-break" target="_blank">
                https://github.com/airalab/RoSeMAN/blob/master/config/agents.template.json
              </a>
            </li>
          </ol>
        </li>
      </ol>
    </details>

    <details>
      <summary class="text-center">{$tr('Steps for launching your own map')}</summary>
      <ol>
        <li>
          <p><b>{$tr('Deploy web interface')}</b></p>

          <ol class="list-smallgap">
            <li>
              {$tr('Fork the map repository:')}
              <a href="https://github.com/airalab/sensors.social" aria-label="see the sensors map repository" target="_blank">
                https://github.com/airalab/sensors.social
              </a>
            </li>
            <li>{$tr('Edit the settings to customize your map, including the domain, provider, starting viewpoint, and your connectivity IPFS ID for the list of agents.')}</li>
            <li>{$tr('Deploy your own version of the web interface and begin receiving real-time data from your sensor.')}</li>
          </ol>

          <p>
            {$tr('Full guide here:')}
            <a aria-label="see full guide" href="https://github.com/airalab/sensors.social?tab=readme-ov-file#setup-your-own-map" target="_blank">
              https://github.com/airalab/sensors.social?tab=readme-ov-file#setup-your-own-map
            </a>
          </p>
        </li>

        <li>
          <p><b>{$tr('Launch long-term storage')}</b></p>
          <p>
            {$tr('Simply collecting data from sensors is not enough; it needs to be processed. Tweak a server for collecting sensor’s data based on with open-source node.js software')}
            <a aria-label="check node.js software for sensors" href="https://github.com/airalab/RoSeMAN" target="_blank">
              {$tr('Robonomics Sensors Measure Analytics and Archive Node (RoSeMAN)')}
            </a> 
            {$tr('and get your own working server for long-term map data storage.')}
          </p>
          <p>{$tr('Technical requirements:')}</p>
          <ul class="list-smallgap">
            <li>{$tr('2 CPU cores;')}</li>
            <li>{$tr('4 GB RAM;')}</li>
            <li>{$tr('40 GB storage;')}</li>
            <li>{$tr('Static IP.')}</li>
          </ul>
          <p>{$tr('Steps for launching a storage:')}</p>
          <ol class="list-smallgap">
            <li>
              {$tr('Fork the RoSeMAN repository:')} 
              <a href="https://github.com/airalab/RoSeMAN" aria-label="check the roseman repository" target="_blank">
                https://github.com/airalab/RoSeMAN
              </a>
            </li>
            <li>{$tr('Choose Docker or Node.js (required MongoDB database) version.')}</li>
            <li>{$tr('Add a parachain address of your Connectivity to agents list.')}</li>
            <li>{$tr('Add RoSeMAN domain to remote provider of map.')}</li>
            <li>{$tr('Run the project')}.</li>
          </ol>
        </li>
      </ol>
    </details>
  </article>

  
</Layout>

<style>

  .twitter-share {
    display: inline-flex;
    align-items: center;
    padding: var(--space);
    gap: var(--space);
  }

  .twitter-share img {
    width: 70px;
    height: 70px;
  }

  .twitter-share h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
  }

  .twitter-share p {
    margin-bottom: 0;
    text-align: left;
  }

  .twitter-share p b {
    font-variation-settings: var(--font-flex-bold);
  }

  @media screen and (max-width: 560px)  {
    .twitter-share h2 {
      font-size: calc(var(--space) * 0.8)
    }
  }

  @media screen and (max-width: 460px)  {
    .twitter-share {
      padding: var(--space) calc(var(--space) * 1);
    }
    .twitter-share h2 {
      font-size: calc(var(--space)  * 1.08)
    }
  }

  .text-big {
    font-weight: 500;
  }
</style>