---
import Layout from '../../layouts/Layout.astro';

// data
import devices from '../../data/devices.js';

// components import 
import DeviceBuySection from '../../components/blocks/DevicesBuySection.vue';
import EMonitorModel from '../../components/3dmodels/E-Monitor.vue';


// Filter products to get the current one
const eMonitor = devices.products.filter(product => product.code === 'energy-monitor');
---


<Layout 
  title={$tr(eMonitor[0].title)} 
  description={$tr("A non-invasive device for installation in electrical panels with DIN rail mounting. Built on the Espressif ESP32C6 chip with open RISC-V architecture.")}
  ogImage="/og-pics/devices-e-monitor.webp"
  pageTitle={$tr(eMonitor[0].title)} 
  backlink={{title: $tr('All hardware'), link: '/devices/', label: $tr('Go to all hardware')}}
>

  <DeviceBuySection price="$45" title={eMonitor[0].title} orderLinks={eMonitor[0].orderLinks} info={eMonitor[0].info} available={eMonitor[0].available} client:only>
    <EMonitorModel noanimation client:visible/>
  </DeviceBuySection>


  <article class="layout layout__text space-b-2">
    <p>{$tr('A non-invasive device for installation in electrical panels with DIN rail mounting. Built on the Espressif ESP32C6 chip with open RISC-V architecture.')}</p>
    <p>{$tr('Equipped with USB-C supports WiFi and Zigbee. Records electricity consumption and generation data in the Polkadot network at 10-minute intervals.')}</p>
  </article>


  <h2 class="layout title-lined"><span>{$tr('Device Specifications')}</span></h2>

  <article class="layout layout__text space-b-2">
    <ul>
      <li> <b>{$tr('Input Voltage:')}</b> {$tr('AC 100-240V 50/60Hz')}</li>
      <li><b>{$tr('Measuring Range:')} </b> {$tr('0.1-60A')}</li>
      <li><b>{$tr('Current transformer:')} </b> {$tr('OPCT10ATL 0-60A 1000/1')}</li>
      <li> <b>{$tr('Wireless Protocol:')} </b> {$tr('IEEE 802.15.4 radio, Thread, Zigbee and Bluetooth 5 (LE), 2.4GHz Wi-Fi6 (802.11 b/g/n/ax)')}</li>
      <li><b>{$tr('CPU:')} </b> {$tr('ESP32-C6 series of SoCs, 32-bit RISC-V single-core microprocessor')}</li>
      <li><b>{$tr('Memory:')} </b> {$tr('320 KB ROM, 512 KB SRAM, 4 MB FLASH')}
      </li>
      <li><b>{$tr('USB-C')} </b> {$tr('for development and updates')} </li>
    </ul>
  </article>

  <h2 class="layout title-lined"><span>{$tr('Help & support')} </span></h2>
  <article class="layout layout__text space-b-2">
    <ul>
      <li>
        {$tr('Powered by Tasmota, an open firmware distributed under GNU GPLv3, the firmware can be upgraded via USB-C or OTA. To learn more and download the latest firmware, visit:')} <a class="highlight" href="https://tasmota.github.io/docs/Power-Monitoring-Calibration" target="_blank">https://tasmota.github.io/docs/Power-Monitoring-Calibration</a> <a class="highlight" href="https://tasmota.github.io/docs/Commands/#power-monitoring" target="_blank">https://tasmota.github.io/docs/Commands/#power-monitoring</a> 
      </li>
      <li>{$tr('To configure the device, please visit:')} <a class="highlight" href="https://tasmota.github.io/docs/MQTT/" target="_blank">https://tasmota.github.io/docs/MQTT/</a></li>
    </ul>
  </article>
</Layout>