---
import ModelRiskV from '../3dmodels/Server.vue';
import ModelAltruist from '../3dmodels/Altruist.vue'
import ModelEMonitor from '../3dmodels/E-Monitor.vue'
import ModelHikikomori from '../3dmodels/Hikikomori.vue'
import { getLocale } from "astro-i18n-aut";;

// styles
import '../../assets/styles/components/3dmodels.css'

// data
import items from '../../data/devices.js'

const locale = getLocale(Astro.url);

const generatePath = (path) => {
  return locale === 'en' ? path + '/' : `/${locale}${path}/`
}
---


<section class="products">
  {items.products.map((product, i) => (
    <article class="product">
      <h2>
        {product.titleLink ? (
          <a href={generatePath(product.titleLink)}>{$tr(product.title)}</a>
        ) : (
          <span>{$tr(product.title)}</span>
        )}
      </h2>
      {product.text && <p  set:html={$tr(product.text)}></p>}
      <div class="product-picture">
        {product.code === 'altruist' && <ModelAltruist client:only />}
        {product.code === 'server' && (
            <ModelRiskV classList="product-picture-server" client:only />
        )}
        {product.code === 'hikikomori' && (
          <ModelHikikomori client:only />
        )}
        {product.code === 'energy-monitor' && (
          <ModelEMonitor client:only />
        )} 
        {product.titleLink && (
          <a href={generatePath(product.titleLink)} class="link-cover"></a>
        )}
      </div>
    </article>
  ))}
</section>

<style>
  .product-picture .product-picture--energy-monitor {
    max-width: 540px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .product-picture .product-picture--hikikomori {
    max-width: 240px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .product p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    text-align: center;
  }

  
</style>


