---
// Import contacts data
import {contacts} from '../../data/socials'; // Adjust the path as necessary

// Filter the contacts to match the `showcontacts` list
const showcontacts = ['Github', 'X', 'Youtube', 'Discord'];
const contactlist = contacts.filter(contact => showcontacts.includes(contact.title));
---

<ul class="list-links">
  {contactlist.map(item => (
    <li class="oldy oldy__link">
      <div aria-hidden="true" set:html={item.svg}></div>
      <div>
        <a href={item.link} aria-label={`go to ${item.text}`} target="_blank"><b>{item.title}</b></a>
        <span>{$tr(item.text)}</span>
      </div>
    </li>
  ))}
</ul>



<style>

  .list-links {
      background: var(--rb-color-green-accent);
      display: grid;
      gap: var(--space);
      grid-template-columns: repeat(4, 1fr);
      line-height: 1.2;
      padding: var(--space) var(--layout-sidepadding);
  }
  
  .list-links li {
      display: grid;
      gap: calc(var(--space) * 0.5);
      grid-template-columns: .6fr 3fr;
  }
  
  .list-links li:not(:last-child) {
      margin-bottom: 0;
  }
  
  .list-links svg {
      display: block;
      width: 100%;
  }
  
  .list-links svg path {
      fill: var(--text-color) !important;
  }
  
  .list-links a {
      text-transform: uppercase;
      font-variation-settings: var(--font-flex-bold);
      margin-bottom: calc(var(--space) * 0.2);
      color: var(--text-color)
  }
  
  @media screen and (width < 1000px) {
      .list-links {
          grid-template-columns: repeat(2, 1fr);
      }
  }
  
  @media screen and (width < 460px) {
      .list-links {
          grid-template-columns: 1fr;
      }
  
      .list-links li {
          grid-template-columns: 0.4fr 3fr;
      }
  }
  
  /* - Socials */
  
  </style>
