---
// components
import Layout from '../layouts/Layout.astro'

// images
import { Image } from 'astro:assets';
import AITheme from '../assets/images/themes/ai-theme.webp';
import BWTheme from '../assets/images/themes/black-and-white-theme.webp';
import DarkTheme from '../assets/images/themes/dark-theme.webp';
import NeonTheme from '../assets/images/themes/neon-theme.webp';
import NeonGreenTheme from '../assets/images/themes/neon-green-theme.webp';
import RobonomicsTheme from '../assets/images/themes/robonomics-theme.webp';
---

<Layout
  title = {$tr("Home assistant themes")}
  description = {$tr("Customize your Home Assistant with our free to use themes. Follow the instructions for installation on Github.")}
  ogImage = "/website_cover_themes.webp"
>

<section class="section themes__banner section__blue blue-banner">
  <div class="devices__main-title title-with-bg">
    <h1><span>{$tr('Home assistant themes')}</span></h1>
  </div>

  <div class="blue-banner-layout themes__banner-layout layout layout__content">
      <img class="themes__banner-img" aria-hidden="true" alt=""  src="/images/themes/themes-banner.webp"/>
    <div class="themes-banner-content">
      <p class="blue-banner__text">{$tr('Customize your Home Assistant with our free to use themes. Follow the instructions for installation on')} <a href="https://github.com/airalab/home-assistant-themes" target="_blank" aria-label="check robonomics theme for home assistant"><u>{$tr('Github')}</u></a> </p>
      <img aria-hidden="true" alt="" src="/images/logos-and-assets/logo-banner-text.svg" />
    </div>
  </div>
</section>

<section class="themes">
  <div class="layout layout__mid grid-2">
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/robonomics.yaml" target="_blank" aria-label="check robonomics theme for home assistant"><Image class="themes__banner-img" aria-hidden="true" alt="" src={RobonomicsTheme}/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/black-and-white.yaml" target="_blank" aria-label="check black and white theme for home assistant"><Image class="themes__banner-img" aria-hidden="true" alt="" src={BWTheme}/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/neon-theme.yaml" target="_blank" aria-label="check neon theme for home assistant"><Image class="themes__banner-img" aria-hidden="true" alt="" src={NeonTheme}/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/dark-theme.yaml" target="_blank" aria-label="check dark theme for home assistant"><Image class="themes__banner-img" aria-hidden="true" alt="" src={DarkTheme}/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/neon-green-theme.yaml" target="_blank" aria-label="check neon green theme for home assistant"><Image class="themes__banner-img" aria-hidden="true" alt="" src={NeonGreenTheme}/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/ai-theme.yaml" target="_blank" aria-label="check ai theme for home assistant"><Image class="themes__banner-img" aria-hidden="true" alt="" src={AITheme}/></a>
  </div>
</section>
</Layout>


<style>

  a u {
    color: var(--color-light)
  }

  img {
    height: unset;
  }

  .section__blue {
    margin-top: 0;
  }

  @media screen and (max-width: 800px) {
    .grid-2 {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 650px) {
    .themes__banner-layout {
      grid-template-columns: 1fr;
    }
  }
</style>