---
// components
import Layout from '../layouts/Layout.astro';
import LogosItem from '../components/logos-and-assets/LogosItem.astro';

// data
const robonomicsLogos = [
	{
		id: 0,
		srcImg: 'logo-robonomics-blue.svg',
		alt: "robonomics logo blue",
		srcPNG: '/logos/logos-robonomics/icon_black_Primary_blue.png',
		srcSVG: '/logos/logos-robonomics/icon_black_Primary_blue.svg',
		background: 'light'
	},
	{
		id: 1,
		srcImg: 'logo-robonomics-white.svg',
		alt: "robonomics logo white",
		srcPNG: '/logos/logos-robonomics/icon_white.png',
		srcSVG: '/logos/logos-robonomics/icon_white.svg',
		background: 'alto'
	},
	{
		id: 2,
		srcImg: 'logo-robonomics-black.svg',
		alt: "robonomics logo black",
		srcPNG: '/logos/logos-robonomics/icon_black.png',
		srcSVG: '/logos/logos-robonomics/icon_black.svg'
	},
	{
		id: 3,
		srcImg: 'logo-robonomics-text-blue.svg',
		alt: "robonomics logo with text blue",
		srcPNG: '/logos/logos-robonomics/logo_horizontal_Primary_blue.png',
		srcSVG: '/logos/logos-robonomics/logo_horizontal_Primary_blue.svg',
	},
	{
		id: 4,
		srcImg: 'logo-robonomics-text-white.svg',
		alt: "robonomics logo with text white",
		srcPNG: '/logos/logos-robonomics/logo_horizontal_white.png',
		srcSVG: '/logos/logos-robonomics/logo_horizontal_white.svg',
		background: 'french-gray'
	},
	{
		id: 5,
		srcImg: 'logo-robonomics-text-black.svg',
		alt: "robonomics logo with text black",
		srcPNG: '/logos/logos-robonomics/logo_horizontal_black.png',
		srcSVG: '/logos/logos-robonomics/logo_horizontal_black.svg',
		background: 'light'
	},
	{
		id: 6,
		srcImg: 'logo-robonomics-network-blue.svg',
		alt: "robonomics network logo blue",
		srcPNG: '/logos/logos-robonomics/logo_RN_vertical_Primary_blue.png',
		srcSVG: '/logos/logos-robonomics/logo_RN_vertical_Primary_blue.svg'
	},
	{
		id: 7,
		srcImg: 'logo-robonomics-network-white.svg',
		alt: "robonomics network logo white",
		srcPNG: '/logos/logos-robonomics/logo_RN_vertical_white.png',
		srcSVG: '/logos/logos-robonomics/logo_RN_vertical_white.svg',
		background: 'spun-pearl'
	},
	{
		id: 8,
		srcImg: 'logo-robonomics-network-black.svg',
		alt: "robonomics network logo black",
		srcPNG: '/logos/logos-robonomics/logo_RN_vertical_black.png',
		srcSVG: '/logos/logos-robonomics/logo_RN_vertical_black.svg'
	}
]
const xrtLogos = [
	{
		id: 0,
		srcImg: 'logo-xrt-plain.svg',
		alt: "logo-xrt-plain",
		srcPNG: '/logos/logos-xrt/icon_XRT_color.png',
		srcSVG: '/logos/logos-xrt/icon_XRT_color.svg'
	},
	{
		id: 1,
		srcImg: 'logo-xrt-text-1.svg',
		alt: "logo xrt text 1",
		srcPNG: '/logos/logos-xrt/logo_XRT_horizontal_color.png',
		srcSVG: '/logos/logos-xrt/logo_XRT_horizontal_color.svg'
	},
	{
		id: 2,
		srcImg: 'logo-xrt-text-2.svg',
		alt: "logo xrt text 2",
		srcPNG: '/logos/logos-xrt/logo_XRT_vertical_color.png',
		srcSVG: '/logos/logos-xrt/logo_XRT_vertical_color.svg'
	}
]
const rwsLogos = [
	{
		id: 0,
		srcImg: 'logo-rws.svg',
		alt: "logo rws",
		srcPNG: '/logos/logos-rws/rws-logo.png',
		srcSVG: '/logos/logos-rws/rws-logo.svg'
	}
]
const hwLogos = [
	{
		id: 0,
		srcImg: 'robo-hw-logo-blue.svg',
		alt: "robonomics hardware logo blue",
		srcPNG: '/logos/logos-robonomics-hw/robo-hw-logo-blue.png',
		srcSVG: '/logos/logos-robonomics-hw/robo-hw-logo-blue.svg',
		background: 'light'
	},
	{
		id: 1,
		srcImg: 'robo-hw-logo-white.svg',
		alt: "robonomics hardware white",
		srcPNG: '/logos/logos-robonomics-hw/robo-hw-logo-white.png',
		srcSVG: '/logos/logos-robonomics-hw/robo-hw-logo-white.svg',
		background: 'alto'
	},
	{
		id: 2,
		srcImg: 'robo-hw-logo-black.svg',
		alt: "robonomics hardware black",
		srcPNG: '/logos/logos-robonomics-hw/robo-hw-logo-black.png',
		srcSVG: '/logos/logos-robonomics-hw/robo-hw-logo-black.svg',
	},
]

---

<Layout 
	title={$tr("Robonomics Logos and Assets")}
	description={$tr("We have put together Robonomics logos, colors, assets and guidelines to show how you may use it.")}
	ogImage="/website_cover_logos.webp"
>

	<!-- banner -->

	<section class="section section__blue logos-and-assets__banner">
		<div class="papers__main-title title-with-bg">
			<h1><span>{$tr('logos and assets')}</span></h1>
		</div>

		<div class="layout layout__content text-center container">
			<img class="logos-and-assets__banner-logo" src="/images/logos-and-assets/logo-banner.svg" alt="robonomics logo"/>
			<p class="logos-and-assets__banner-text">{$tr("Download the Robonomics logos here. We've got two options for your")} <a href="#robonomicsLogos"><u>{$tr('basic needs')}</u></a> {$tr('and one designed for')}  <a href="#xrtLogos"><u>XRT</u></a> {$tr('token. Additionally, discover the optimal')} <a href="#colorPalette"><u>{$tr('color palette')}</u> </a> {$tr('for the distinguished Robonomics brand.')}</p>
			<img aria-hidden="true" alt="" src="/images/logos-and-assets/logo-banner-text.svg" />
		</div>
	</section>

	<!-- logos section -->
	<section class="logos">
		<div class="layout text-center container">
			<div class="logos-and-assets__header">
				<h2 id="robonomicsLogos">{$tr('Robonomics logos')}</h2>
				<a href="/logos/logos-robonomics.zip" download>{$tr('Download all')}</a>
			</div>

			<ul class="logos__wrapper logos__xrt grid-3 list-simple">
				{robonomicsLogos.map((logo) => (
					<LogosItem
						srcImg={logo.srcImg}
						alt={logo.alt}
						srcPNG={logo.srcPNG}
						srcSVG={logo.srcSVG}
						itemBackground={logo.background}
					/>
				))}
			</ul>

			<!-- hardware -->
			<div class="logos-and-assets__header">
				<h2>{$tr('Robonomics Hardware logos')}</h2>
				<a href="/logos/logos-robonomics-hw.zip" download>{ $tr('Download all') }</a>
			</div>

			<ul class="logos__wrapper logos__hardware grid-3 list-simple">
				{hwLogos.map((logo) => (
					<LogosItem
						srcImg={logo.srcImg}
						alt={logo.alt}
						srcPNG={logo.srcPNG}
						srcSVG={logo.srcSVG}
						itemBackground={logo.background}
					/>
				))}
			</ul>

			<!-- XRT -->
			<div class="logos-and-assets__header">
				<h2 id="xrtLogos">{$tr('XRT logos')}</h2>
				<a href="/logos/logos-xrt.zip" download>{$tr('Download all')}</a>
			</div>

			<ul class="logos__wrapper logos__xrt grid-3 list-simple">
				{xrtLogos.map((logo) => (
					<LogosItem
						srcImg={logo.srcImg}
						alt={logo.alt}
						srcPNG={logo.srcPNG}
						srcSVG={logo.srcSVG}
						itemBackground={logo.background}
					/>
				))}
			</ul>

			<!-- RWS -->
			<div class="logos-and-assets__header">
				<h2>{$tr('RWS logos')}</h2>
				<a href="/logos/logos-rws.zip" download>{$tr('Download all')}</a>
			</div>


			<ul class="logos__wrapper logos__xrt grid-3 list-simple">
				{rwsLogos.map((logo) => (
					<LogosItem
						srcImg={logo.srcImg}
						alt={logo.alt}
						srcPNG={logo.srcPNG}
						srcSVG={logo.srcSVG}
						itemBackground={logo.background}
					/>
				))}
			</ul>
		</div>
	</section>

	<!-- color pallet section -->
	<section class="color-pallet animate-inside">
		<div class="layout text-center container">
			<div class="logos-and-assets__header">
				<h2 id="colorPalette">
					{$tr('Recommended color palette')}
				</h2>
			</div>
				<ul class="list-simple color-pallet__wrapper grid-3">
					<li class="color-pallet__item logos-and-assets__item  color-pallet__item--primary-blue">
						<h3 class="color-pallet__subtitle">Primary blue</h3>
						<span class="color-pallet__code">#2949d3</span>
					</li>
					<li class="color-pallet__item logos-and-assets__item  color-pallet__item--light">
						<h3 class="color-pallet__subtitle">Light</h3>
						<span class="color-pallet__code">#ffffff</span>
					</li>
					<li class="color-pallet__item logos-and-assets__item  color-pallet__item--gray">
						<h3 class="color-pallet__subtitle">Medium</h3>
						<span class="color-pallet__code">#f2f2f2</span>
					</li>
					<li class="color-pallet__item logos-and-assets__item color-pallet__item--black">
						<h3 class="color-pallet__subtitle">Dark</h3>
						<span class="color-pallet__code">#000000</span>
					</li>
					<li class="color-pallet__item logos-and-assets__item  color-pallet__item--red">
						<h3 class="color-pallet__subtitle">Accentuating red</h3>
						<span class="color-pallet__code">#ee005b</span>
					</li>
					<li class="color-pallet__item logos-and-assets__item  color-pallet__item--green">
						<h3 class="color-pallet__subtitle">Accentuating green</h3>
						<span class="color-pallet__code">#5fce05</span>
					</li>
				</ul>
		</div>
	</section>

</Layout>

<style>

  h2, h3 {
    font-size: calc(var(--base-font-size) * 1.2);
    font-family: var(--font-family);
    margin: 0;
    letter-spacing: 0;
    text-align: left;
    text-transform: none;
  }

	a u {
		color: var(--color-light)
	}

  .container {
    max-width: 1080px;
  }

  .grid-3 {
    gap: 0;
    justify-content: center;
  }

  .logos-and-assets__banner {
    margin: 0;
    margin-bottom: var(--space);
    padding-bottom: var(--space);
  }

  .logos-and-assets__banner-logo {
    margin-bottom: calc((var(--space) * 1.2));
  }

  .logos-and-assets__banner-text {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    font-style: italic;
    margin-bottom: calc((var(--space) * 1.2));
  }

  .logos-and-assets__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space);
  }

  .logos-and-assets__header {
    font-weight: 500;
  }

  .logos-and-assets__item  {
    border: 1px solid var(--color-dark);
  }

  .logos {
    margin-bottom: calc((var(--space) * 3.5));
  }
  
  .logos__robonomics {
    margin-bottom: calc((var(--space) * 3.5));
  }

	.logos__hardware :global(img) {
		width: 50%
	}

  .color-pallet__item {
    height: 369px;
    padding: 40px 48px;
    margin-bottom: 0;
    font-weight: 500;
    color: #fff;
    text-align: left;
  }

  .color-pallet__subtitle {
    font-size: calc(var(--base-font-size) * 1);
    margin-bottom: calc(var(--space) * 0.3);
  }

  .color-pallet__code {
    text-transform: uppercase;
  }

  .color-pallet__item--primary-blue {
    background-color: #2949d3;
  }

  .color-pallet__item--gray {
    color: #000;
    background-color: #f2f2f2;
  }

  .color-pallet__item--light {
    color: #000;
    background-color: #fff;
  }

  .color-pallet__item--black {
    background-color: #000;
  }

  .color-pallet__item--red {
    background-color: #ee005b;
  }

  .color-pallet__item--green {
    background-color: #5fce05
  }

  @media screen and (max-width: 920px) {
    .logos-and-assets__banner .container {
      padding: calc(var(--space) * 2) var(--space);
    }
  }
  

  @media screen and (max-width: 380px) {
    h2 {
      font-size: 2rem;
    }

 
  }
</style>