---
import Layout from "../layouts/Layout.astro";
import PapersList from '../components/papers/PapersList.astro';
import RbButton from "../components/RbButton.astro";


const papers =[
  {
    id: 0,
    title: $tr('Robonomics White Paper'),
    description: $tr('Here, you can find and download (completely free, of course) the very first Robonomics white paper, which was introduced in May 2018. While much has evolved since then, the fundamentals of Robonomics are still outlined in this paper.'),
    buttonicon: '↗',
    withSelect: true,
    year: 2018,
    options: [
      {
        link: 'https://static.robonomics.network/docs/whitepaper/Robonomics-whitepaper-en.pdf',
        text: $tr('English'),
        id: 0
      },
      {
        link: 'https://static.robonomics.network/docs/whitepaper/Robonomics-whitepaper-ru.pdf',
        text: $tr('Russian'),
        id: 1
      },
      {
        link: 'https://static.robonomics.network/docs/whitepaper/Robonomics-whitepaper-zh.pdf',
        text: $tr('Chinese'),
        id: 2
      }
    ],
    pinned: true
  },
  {
    id: 1,
    title: $tr('Gaka-Chu: A Self-Employed Autonomous Robot Artist'),
    description: '',
    buttonicon: '↗',
    year: 2023,
    options: [
      {
        link: 'https://ieeexplore.ieee.org/document/10160866',
        text: 'IEEE Xplore',
        id: 3,
        icon: 'logo-IEEE-xplore.svg'
      },
      {
        link: 'https://www.media.mit.edu/publications/gaka-chu-a-self-employed-autonomous-robot-artist/',
        text: 'Mit Media Lab',
        icon: 'logo-mit-media-lab.svg',
        id: 4
      },
    ]
  },
  {
    id: 2,
    title: $tr('Cooperative Gradient-Free Localization and Tracking of Moving Environmental Boundaries by Teams of Nonholonomic Robots'),
    description: '',
    buttonicon: '↗',
    year: 2022,
    options: [
      {
        link: 'https://ieeexplore.ieee.org/abstract/document/10003678',
        text: 'IEEE Xplore',
        id: 5,
        icon: 'logo-IEEE-xplore.svg'
      },
      {
        link: 'https://www.dbpia.co.kr/Journal/articleDetail?nodeId=NODE11215646',
        text: 'dbpia',
        icon: 'logo-dbpia.svg',
        id: 6
      },
    ]
  },
  {
    id: 3,
    title: $tr('Robot-as-a-Service: From Cloud to Peering Technologies'),
    description: $tr('Aleksandr Kapitonov, Sergey Lonshakov, Vitaly Bulatov, Babak Kia Montazam, James White'),
    buttonicon: '↗',
    year: 2021,
    options: [
      {
        link: 'https://www.frontiersin.org/articles/10.3389/frobt.2021.560829/full',
        text: 'Frontiers',
        icon: 'logo-frontiers.svg',
        id: 7
      },
      {
        link: 'https://europepmc.org/article/med/34095236',
        text: 'Europe PMC',
        icon: 'logo-europe-pmc.svg',
        id: 8
      },
      {
        link: 'https://dl.acm.org/doi/abs/10.1145/3459955.3460611',
        text: 'ACM Library',
        icon: 'logo-acm-library.svg',
        id: 9
      },
      {
        link: 'https://pubmed.ncbi.nlm.nih.gov/34095236/',
        text: 'PubMed',
        icon: 'logo-pubMed.svg',
        id: 10
      }
    ]
  },
  {
    id: 4,
    title: $tr('Trustable Environmental monitoring by means of sensors networks on swarming autonomous marine vessels and distributed ledger technology'),
    description: $tr('Ivan Berman, Enrica Zereik, Aleksandr Kapitonov, Fabio Bonsignorio, Alisher Khasanov, Aziza Oripova, Sergey Lonshakov, Vitaly Bulatov'),
    buttonicon: '↗',
    year: 2020,
    options: [
      {
        link: 'https://www.frontiersin.org/articles/10.3389/frobt.2020.00070/full',
        text: 'Frontiers',
        icon: 'logo-frontiers.svg',
        id: 11
      },
      {
        link: 'https://pubmed.ncbi.nlm.nih.gov/33501237/',
        text: 'PubMed',
        icon: 'logo-pubMed.svg',
        id: 12
      },
      {
        link: 'https://europepmc.org/article/med/33501237',
        text: 'Europe PMC',
        icon: 'logo-europe-pmc.svg',
        id: 13
      }
    ]
  },
  {
    id: 5,
    title: $tr('Towards blockchain-based multi-agent robotic systems: Analysis, classification and applications'),
    description: '',
    buttonicon: '↗',
    year: 2020,
    options: [
      {
        link: 'https://books.google.com.cy/books?hl=en&lr=&id=nVHsDwAAQBAJ&oi=fnd&pg=PA194&dq=info:XBUfylG0YCUJ:scholar.google.com&ots=drARAYqq-m&sig=7tICP7PmEwxxLVRqHqfDSA6d1mE&redir_esc=y#v=onepage&q&f=false',
        text: 'Google Books',
        icon: 'logo-google-books.svg',
        id: 14
      }
    ]
  },
  {
    id: 6,
    title: $tr('Digital Passport for Unmanned Vehicles'),
    description: $tr('Vadim Manaenko, Aleksandr Kapitonov, Ivan Berman'),
    buttonicon: '↗',
    year: 2019,
    options: [
      {
        link: 'https://fruct.org/publications/volume-25/acm25/files/z-Man.pdf',
        text: 'FRUCT',
        icon: 'logo-fruct.svg',
        id: 15
      }
    ]
  },
  {
    id: 7,
    title: $tr('Robonomics as a Blockchain-based Platform for Unmanned Traffic Management of Mobile Vehicles'),
    description: $tr('Aleksandr Kapitonov; Ivan Berman; Vadim Manaenko; Vyacheslav Rzhevskiy; Vitaly Bulatov; Artemii Zenkin'),
    buttonicon: '↗',
    year: 2019,
    options: [
      {
        link: 'https://ieeexplore.ieee.org/abstract/document/8999696',
        text: 'IEEE Xplore',
        icon: 'logo-IEEE-xplore.svg',
        id: 16
      }
    ]
  },
  {
    id: 8,
    title: $tr('Towards blockchain-based multi-agent robotic systems: Analysis, classification and applications'),
    description: $tr('Ilya Afanasyev, Alexander Kolotov, Ruslan Rezin, Konstantin Danilov, Manuel Mazzara, Subham Chakraborty, Alexey Kashevnik, Andrey Chechulin, Aleksandr Kapitonov, Vladimir Jotsov, Andon Topalov, Nikola Shakev, Sevil Ahmed'),
    buttonicon: '↗',
    year: 2019,
    options: [
      {
        link: 'https://www.researchgate.net/profile/Ilya-Afanasyev-3/publication/334534596_Towards_Blockchain-based_Multi-Agent_Robotic_Systems_Analysis_Classification_and_Applications/links/5d357781299bf1995b3fa430/Towards-Blockchain-based-Multi-Agent-Robotic-Systems-Analysis-Classification-and-Applications.pdf',
        text: 'Research Gate',
        icon: 'logo-researchGate.svg',
        id: 17
      },
      {
        link: 'https://arxiv.org/abs/1907.07433',
        text: 'arXiv',
        icon: 'logo-arxiv.svg',
        id: 18
      },
      {
        link:  'https://ui.adsabs.harvard.edu/abs/2019arXiv190707433A/abstract',
        text: 'adsabs',
        icon: 'logo-adsabs.svg',
        id: 19
      }
    ]
  },
  {
    id: 9,
    title: $tr('Robotic Services for New Paradigm Smart Cities Based on Decentralized Technologies'),
    description: $tr('Aleksandr Kapitonov, Sergey Lonshakov, Ivan Berman, Eduardo Castelló Ferrer, Fabio P Bonsignorio, Vitaly Bulatov, Aleksandr Svistov'),
    buttonicon: '↗',
    year: 2019,
    options: [
      {
        link:  'https://ledger.pitt.edu/ojs/ledger/article/view/177',
        text: 'Ledger Journal',
        icon: 'logo-ledger.svg',
        id: 20
      }
    ]
  },
  {
    id: 10,
    title: $tr('Protocol for Organization of a Decentralized Autonomous Agents Network in Factories Using Market Mechanisms'),
    description: $tr('Aleksandr Kapitonov, Ivan Berman, Sergey Lonshakov, Aleksandr Krupenkin, Vitaly Bulatov'),
    buttonicon: '↗',
    year: 2019,
    options: [
      {
        link:  'http://www.ijmerr.com/uploadfile/2019/0801/20190801034543607.pdf',
        text: 'IJMERR',
        icon: 'logo-ijmerr.svg',
        id: 21
      }
    ]
  },
  {
    id: 11,
    title: $tr('Towards blockchain-based Robonomics: autonomous agents behavior validation'),
    description: $tr('Konstantin Danilov; Ruslan Rezin; Ilya Afanasyev; Alexander Kolotov'),
    buttonicon: '↗',
    year: 2018,
    options: [
      {
        link:  'https://ieeexplore.ieee.org/abstract/document/8710454',
        text: 'IEEE Xplore',
        icon: 'logo-IEEE-xplore.svg',
        id: 22
      },
      {
        link: 'https://www.researchgate.net/profile/Ilya-Afanasyev-3/publication/328007547_Towards_Blockchain-Based_Robonomics_Autonomous_Agents_Behavior_Validation/links/5bb29fca45851574f7f4317b/Towards-Blockchain-Based-Robonomics-Autonomous-Agents-Behavior-Validation.pdf',
        text: 'Research Gate',
        icon: 'logo-researchGate.svg',
        id: 23
      },
      {
        link: 'https://dl.acm.org/doi/abs/10.1109/IS.2018.8710454',
        text: 'ACM Library',
        icon: 'logo-acm-library.svg',
        id: 24
      },
      {
        link: 'https://ui.adsabs.harvard.edu/abs/2018arXiv180503241D/abstract',
        text: 'adsabs',
        icon: 'logo-adsabs.svg',
        id: 25
      },
      {
        link: 'https://arxiv.org/abs/1805.03241',
        text: 'arxiv',
        icon: 'logo-arxiv.svg',
        id: 26
      }
    ]
  },
  {
    id: 12,
    title: $tr('Transforming Climate Finance and Green Investment with Blockchains'),
    description: $tr('Alastair Marke'),
    buttonicon: '↗',
    year: 2018,
    options: [
      {
        link: 'https://dl.acm.org/doi/book/10.5555/3285366',
        text: 'ACM Library',
        icon: 'logo-acm-library.svg',
        id: 27
      },
    ]
  },
  {
    id: 13,
    title: $tr('Robonomics: platform for integration of cyber physical systems into human economy'),
    description: $tr('Sergey Lonshakov, Aleksandr Krupenkin, Aleksandr Kapitonov, Evgeny Radchenko, Alisher Khassanov, Aleksandr Starostin'),
    buttonicon: '↗',
    year: 2018,
    options: [
      {
        link: 'https://www.semanticscholar.org/paper/Robonomics%3A-platform-for-integration-of-cyber-into-Lonshakov-Krupenkin/5b562e31dde0c84ac457912215d02742aa8c3af2?p2df',
        text: 'Semantic Scholar',
        icon: 'logo-semantic-scholar.svg',
        id: 28
      },
    ]
  },
  {
    id: 14,
    title: $tr('Blockchain based protocol for economical communication in industry 4.0'),
    description: $tr('Aleksandr Kapitonov, Ivan Berman, Sergey Lonshakov, Aleksandr Krupenkin'),
    buttonicon: '↗',
    year: 2018,
    options: [
      {
        link: 'https://ieeexplore.ieee.org/abstract/document/8525391/',
        text: 'IEEE Xplore',
        icon: 'logo-IEEE-xplore.svg',
        id: 29
      },
    ]
  },
  {
    id: 15,
    title: $tr('Robonomics based on blockchain as a principle of creating smart factories'),
    description: $tr('Aleksandr Kapitonov, Ivan Berman, Vitaly Bulatov, Sergey Lonshakov, Aleksandr Krupenkin'),
    buttonicon: '↗',
    year: 2018,
    options: [
      {
        link: 'https://ieeexplore.ieee.org/abstract/document/8554864/',
        text: 'IEEE Xplore',
        icon: 'logo-IEEE-xplore.svg',
        id: 30
      },
    ]
  },
  {
    id: 16,
    title: $tr('Blockchain ecosystem for carbon markets, environmental assets, rights, and liabilities: Concept design and implementation'),
    description: $tr('Anton Galenovich, Sergey Lonshakov, Alexey Shadrin'),
    buttonicon: '↗',
    year: 2018,
    options: [
      {
        link: 'https://www.sciencedirect.com/science/article/abs/pii/B9780128144473000173',
        text: 'ScienceDirect',
        icon: 'logo-scienceDirect.svg',
        id: 31
      },
    ]
  },
  {
    id: 17,
    title: $tr('Blockchain-based protocol of autonomous business activity for multi-agent systems consisting of UAVs'),
    description: $tr('Aleksandr Kapitonov, Sergey Lonshakov, Aleksandr Krupenkin, Ivan Berman'),
    buttonicon: '↗',
    year: 2017,
    options: [
      {
        link: 'https://ieeexplore.ieee.org/abstract/document/8101648',
        text: 'IEEE Xplore',
        icon: 'logo-IEEE-xplore.svg',
        id: 32
      },
      {
        link: 'https://www.researchgate.net/profile/Aleksandr-Kapitonov/publication/325451400_Blockchain-based_protocol_of_autonomous_business_activity_for_multi-agent_systems_consisting_of_UAVs/links/5b0ebfdfa6fdcc80995b3926/Blockchain-based-protocol-of-autonomous-business-activity-for-multi-agent-systems-consisting-of-UAVs.pdf',
        text: 'ResearchGate',
        icon: 'logo-researchGate.svg',
        id: 33
      },
    ]
  },
];

const pinned = papers.filter(paper => paper.pinned);
let selected = 0;
---

<Layout
  title={$tr("Research papers")}
  description={$tr("Without academic research, the advancement of complex systems that can be integrated into our daily lives may lose its purpose or even pose risks. We must carefully contemplate our direction, objectives, and potential consequences. The spheres where Robonomics operates, specifically Robotics, Economic relations, and Web3 technologies, are worth studying individually, exploring how they can be integrated with each other, and assessing their potential impact on our lives.")}
  ogImage="/website_cover_papers.webp"
>

<!-- Papers banner section -->
<section class="papers__section-blue section__blue">
  <div class="papers__main-title title-with-bg">
    <h1><span>{$tr("Research papers")}</span></h1>
  </div>

  <div class="layout layout__content papers__banner">
    <div class="papers__banner-wrapper">
      <p>{$tr('Without academic research, the advancement of complex systems that can be integrated into our daily lives may lose its purpose or even pose risks. We must carefully contemplate our direction, objectives, and potential consequences. The spheres where Robonomics operates, specifically Robotics, Economic relations, and Web3 technologies, are worth studying individually, exploring how they can be integrated with each other, and assessing their potential impact on our lives.')}</p>
      <img src="/images/papers/papers-text.svg" alt="" aria-hidden="true"/>
    </div>
    <div class="papers__banner-img">
      <img src="/images/papers/papers-banner-img.webp" alt="" aria-hidden="true"/>
      <img src="/images/papers/papers-banner-img-mobile.webp" alt="" aria-hidden="true" class="mobile"/>
    </div>
  </div>
</section>

<section class="layout layout__content">
  {pinned.length > 0 && (
    <div class="papers-pinned oldy accent">
      <div class="papers-pinned__header">
        <div class="papers-pinned__info">
          <div class="papers-pinned__icon papers-pinned__icon--green-pin"></div>
          <div class="papers-pinned__icon">{pinned[0].year}</div>
          <h3>{pinned[0].title}</h3>
        </div>

        <div class="papers-pinned__actions">
          {pinned[0].options.length > 1 && pinned[0].withSelect && (
            <select id="paperSelect" value={selected}>
              {pinned[0].options.map((option, key) => (
                <option value={key}>{option.text}</option>
              ))}
            </select>
          )}
          <RbButton id="downloadLink" href={pinned[0].options[selected].link} target="_blank" aria-label="download current paper">
            {$tr('Download pdf')}
          </RbButton>
        </div>
      </div>
      <p class="papers-pinned__text">{pinned[0].description}</p>
    </div>
  )}

  <PapersList assets={papers} />
</section>

</Layout>


<script define:vars={{pinned}}>
  const selectElement = document.getElementById('paperSelect');
  const downloadLink = document.getElementById('downloadLink');

  // Event listener to update the selected variable
  selectElement?.addEventListener('change', (event) => {
    let selected = event.target.value; // Update the selected value dynamically
    downloadLink.href = pinned[0].options[selected].link;


  });
</script>

<style>

  select {
    background-position: calc(100% - 10px) 50%;
  }

  .papers__section-blue {
    position: relative;
    margin-bottom: var(--space);
  }

  .papers__banner {
    padding: var(--space);
    min-height: 575px;
    height: 100%;
    display: flex;
  }

  .papers__banner-wrapper {
    position: relative;
    padding-top: var(--space);
    z-index: 5;
  }

  .papers__banner-wrapper p {
    max-width: 808px;
    width: 100%;
    font-size: calc(var(--base-font-size) * 1.2);
    font-style: italic;
    font-weight: 400;
    margin-bottom: calc(var(--space) * 2);
  }

  .papers__banner-img {
    position: absolute;
    bottom: -15px;
    right: 20px;
    max-width: 384px;
    width: 100%;
    z-index: 0;
  }

  .papers__banner-img img {
    width: 100%;
  }

  .papers__banner-img .mobile {
    display: none;
  }

  .papers-pinned {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: calc(var(--space) * 2);
    border-top: none;
    text-align: left;
  }

  .papers-pinned__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .papers-pinned__info {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .papers-pinned__icon {
    margin-top: -8px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
  }

  .papers-pinned__icon--green-pin {
    background-color: #a7d100;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='40' viewBox='0 0 30 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_870_3947)'%3E%3Cpath d='M2.50553 2.5C2.50553 1.11719 3.62231 0 5.00462 0H24.9973C26.3796 0 27.4964 1.11719 27.4964 2.5C27.4964 3.88281 26.3796 5 24.9973 5H22.6935L23.5838 16.5781C26.4499 18.1328 28.7147 20.7344 29.7925 23.9766L29.8706 24.2109C30.1283 24.9766 29.9955 25.8125 29.5269 26.4609C29.0583 27.1094 28.3008 27.5 27.4964 27.5H2.50553C1.70113 27.5 0.951406 27.1172 0.475017 26.4609C-0.00137186 25.8047 -0.126326 24.9688 0.131392 24.2109L0.209489 23.9766C1.28722 20.7344 3.55202 18.1328 6.41816 16.5781L7.30846 5H5.00462C3.62231 5 2.50553 3.88281 2.50553 2.5ZM12.5019 30H17.5001V37.5C17.5001 38.8828 16.3833 40 15.001 40C13.6187 40 12.5019 38.8828 12.5019 37.5V30Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_870_3947'%3E%3Crect width='30' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  .papers-pinned h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(var(--space) * 0.7);
    font-size: calc(var(--base-font-size) * 1.4);
    text-align: left;
  }

  .papers-pinned__actions {
    display: flex;
    padding-top: calc(var(--space) * 0.5);
  }

  .papers-pinned__actions select {
    margin-right: calc(var(--space) * 0.5);
    min-width: 184px;
    padding: calc(var(--space) * 0.5);
    font-family: var(--font-family);
    font-size: calc(var(--base-font-size) * 0.8);
    border-color: #000;
    color: #000;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.33224 8.75071C6.93646 9.34483 6.06354 9.34483 5.66776 8.75072L1.04032 1.80442C0.597597 1.13984 1.07402 0.25 1.87256 0.25L11.1274 0.25C11.926 0.25 12.4024 1.13984 11.9597 1.80442L7.33224 8.75071Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: 12px;
  }

  .papers-pinned__actions a {
    min-width: 180px;
    box-shadow: none;
    display: flex;
    align-items: center;
    font-size: calc(var(--base-font-size)* 0.8);
    font-weight: 500;
    text-align: center;
  }

  .papers-pinned__text {
    padding-left: var(--space);
    padding-top: var(--space);
    font-size: calc(var(--base-font-size) * 0.9)
  }

  @media screen and (max-width: 1050px) {
    .papers__banner {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
    }

    .papers__banner-wrapper {
      margin-bottom: calc(var(--space) * 2);
    }

    .papers__banner-img {
      position: static;
      margin-bottom: -7px;
    }

    .papers__banner-img img {
      display: none;
    }

    .papers__banner-img .mobile {
      display: block;
    }
  }

  @media screen and (max-width: 860px) {
    .papers-pinned__header {
      flex-direction: column;
    }

    .papers-pinned__info {
      margin-right: 0;
      align-self: flex-start;
    }

    .papers-pinned__actions {
      padding-top: var(--space);
      padding-left: var(--space);
      justify-content: center;
    }
    .papers-pinned__actions select {
      min-width: 100px;
    }
  }



  @media screen and (max-width: 440px) {

    .papers-pinned__info {
      flex-wrap: wrap;
    }

    .papers-pinned__info h3 {
      margin-left: 0;
      padding-left: var(--space);
      padding-top: calc(var(--space) * 0.5);
      text-align: center;
    }

    .papers-pinned__icon {
      width: 60px;
      height: 60px;
    }
    .papers-pinned__actions {
      flex-direction: column;
    }
    .papers-pinned__actions select {
      margin-right: 0;
      margin-bottom: calc(var(--space) * 0.5);
    }
  }

</style>
