---
// components
import Layout from "../layouts/Layout.astro";
import TimelineItem from "../components/timeline/TimelineItem.astro";

// data
const items = [
  {
    id: 0,
    year: '2023 - 2024',
    img: 'docs-book-5.webp',
    linkWithImg: 'https://gw.crust-gateway.com/ipfs/QmaCXn8RdSdh4oxX3R5nzNSfoUPiLMLM4JmLSk1WnYi5ah',
    title: $tr('Device Design and Development'),
    sideLine: "Robonomics 2023-2024",
    text: `<p class='timeline__descr'>${await $tr('The team is acquiring new skills in designing and programming smart devices from the ground up. The')} <a class='timeline__link' href='https://sensors.social/' target='_blank' aria-label="check out sensor map">sensors.social</a> ${await $tr('network, where testbed devices developed by Robonomics engineers operate, has been created. A line of smart home devices based on Tasmota Wi-Fi has also been developed, and since summer 2024, this line has been undergoing certification for the EU market. In fall 2024, the project team will introduce a line of open-source devices powered by Web3 technologies, under the name "Hardware for Cryptopunks."')}</p><p class='timeline__descr'>${await $tr('Robonomics continues to grow within the Polkadot ecosystem. The Kusama network parachain has been running for over two years, and starting in fall 2024, a parachain will also launch on the Polkadot network. More than 5 million transactions from user devices have been recorded on the network. The team is continuing to explore possibilities for integrating their implementations across both Ethereum and Polkadot.')}</p><p class='timeline__descr'>${await $tr('Robo Smart Devices:')} <a class='timeline__link' href='https://robonomics.network/devices' target='_blank' aria-label-"check our smart devices">https://robonomics.network/devices/</a></p>`,
    events: [
      {
        id: 0,
        link: 'https://www.youtube.com/playlist?list=PLOyWqupZ-WGuA9BWEP4_zRiLwHzXb1zE9',
        name: $tr('World Economic Forum Annual Meeting 2022'),
      },
      {
        id: 1,
        link: 'https://decoded.polkadot.network/2022edition/',
        name: $tr('Polkadot Decoded 2022')
      }
    ],
  },
  {
    id: 1,
    year: 2022,
    img: 'docs-book-4.webp',
    linkWithImg: 'https://gw.crust-gateway.com/ipfs/QmZK64M7M31mkMsDd8yQa1dfX4a4KeDCyaUMsTuzsKq6LC',
    title: $tr('On the Way to Sovereign Home Automation'),
    sideLine: "Robonomics 2022",
    text: `<p class='timeline__descr'>${ await $tr('The year began with a major achievement — Robonomics won the 20th parachain slot auction and')} <a class='timeline__link' href='https://twitter.com/EnsRationis/status/1480139879057174530' target='_blank' aria-label="see more about parachain slot">${await $tr('officially became')}</a> ${await $tr('a parachain with ID 2048 on the Kusama network. The launch, datalog, DigitalTwin, liability functions and IoT subscriptions have become available to all users of the ecosystem. To provide details for this phase of the project, the core team has published the first chapters of the')} <a class='timeline__link' href='/white-paper/' target='_blank' aria-label="check robonomics whitepaper to learn more">${await $tr('Robonomics Whitepaper 2.0.')}</a> ${await $tr('Robonomics 2.0 on Substrate has been released with support for XCM messages, and we began to open HRMP channels with other parachains (like Crust Shadow and Darwinia), whose functionality is extremely useful for us.')}</p><p class='timeline__descr'> ${await $tr('At the same time, we have unlocked a strategy for introducing the IoT market to our protocol. Our experiments with IoT equipment led us to the concept of a sovereign smart home, one which is independent of centralized cloud service providers. We have developed our')} <a class='timeline__link' href='https://wiki.robonomics.network/docs/robonomics-smart-home-overview/' target='_blank' aria-label="learn more about robonomics smart home integration">${await $tr('integration')}</a>${await $tr(', with the Home Assistant automation system, and also designed our own')} <a class='timeline__link' href='https://oshwlab.com/ludovich88/robonomics_sls_gateway_v01' target='_blank' aria-label="check robonomics IoT gateway">${await $tr('IoT gateway')}</a> ${await $tr('for connecting smart devices.')}</p><p class='timeline__descr'> ${await $tr('We have launched two big initiatives in order to increase community engagement —')} <a class='timeline__link' href='https://robonomics.academy/en/' target='_blank' aria-label="find out more about robonomics academy">${await $tr('Robonomics Academy')}</a> ${await $tr('and')} <a class='timeline__link' href='/ambassador-program/' target='_blank' aria-label="found out more about robonomics ambassador program">${await $tr('Robonomics Ambassador Program')}</a>. ${await $tr('Additionally,')}<a class='timeline__link' href='/blog/robonomics-town-hall-2022/' target='_blank' aria-label="see more about robonomics town hall"> ${await $tr('Robonomics Town Hall')}</a> ${await $tr('was held in autumn so that the Robonomics community could try out our governance mechanisms for the first time. Recently, the Robonomics team helped the DAO IPCI project obtain a parachain slot to present carbon offsetting service for smart buildings.')}</p>`,
    events: [
      {
        id: 0,
        link: 'https://www.youtube.com/playlist?list=PLOyWqupZ-WGuA9BWEP4_zRiLwHzXb1zE9',
        name: $tr('World Economic Forum Annual Meeting 2022'),
      },
      {
        id: 1,
        link: 'https://decoded.polkadot.network/2022edition/',
        name: $tr('Polkadot Decoded 2022')
      }
    ],
  },
  {
    id: 2,
    year: 2021,
    img: 'docs-book-3.webp',
    linkWithImg: 'https://gw.crust-gateway.com/ipfs/QmRHvtsEViqHFN6Mt66p9o5MvvzB2H5uvfMTi8maAnLmfi',
    title: $tr('Becoming a Parachain for IoT Applications'),
    sideLine: "Robonomics 2021",
    text: `<p class='timeline__descr'>${await $tr('In 2021, our')} <a class='timeline__link' href='/vision/' target='_blank' aria-label="learn more about our vision">${await $tr('main focus')}</a> ${await $tr('shifted to preparing the project so that IoT applications could be used via our parachain on the Kusama network. Robonomics 1.0 on Substrate has been released, and we have been testing connecting sensors to the parachain to send their telemetry data, as well as developing the digital twin functionality. In the middle of the year, we decided to test the full cycle of our network and created our own relay chain called')} <a class='timeline__link' href='/blog/robonomics-frontier/' target='_blank' aria-label="found out more about robonomics frontier">${await $tr('Robonomics Frontier')}</a>${await $tr(', to which the Robonomics parachain was integrated (prior to being migrated to the Kusama relay chain). There has been a lot of focus on getting a parachain slot in Kusama, for which we organized several crowdloan campaigns.')}</p><p class='timeline__descr'> ${await $tr('There have been two big changes for the community. First, we launched the')} <a class='timeline__link' href='https://github.com/airalab/robonomics-grant-program' target='_blank' aria-label="learn more about robonomics grant program">${await $tr('Robonomics Grant Program')}</a> ${await $tr(', which allows Web3 robotics and IoT projects to receive funding for R&D tasks. By the end of the year, four active projects participated in the program. Secondly, the team started the')} <a class='timeline__link' href='https://youtu.be/4Np5-95LdvY' target='_blank' aria-label="check out exodus process">${await $tr('Exodus process')}</a>${await $tr(', allowing Ethereum token holders to move their XRT tokens to the parachain.')}</p><p class='timeline__descr'> ${await $tr('Among the collaborations, we can recall the remarkable appearance of Boston Dynamics Spot at MerkleBot, for which a')} <a class='timeline__link' href='https://spot.merklebot.com/' target='_blank' aria-label="check out Spot at merklebot"> ${await $tr('rental remote control system')}</a> ${await $tr('was developed. We would also like to inform you about the Multi-Agent Systems company which is a personal project that has been formed by a team of Robonomics engineers. They have developed a robotic waffle baker called Eisenkoch which conducts cooking tasks for coffee shop owners.')}</p>`,
    events: [
      {
        id: 0,
        link: 'https://decoded.polkadot.network/2021edition/',
        name: $tr('Polkadot Decoded 2021'),
      },
      {
        id: 1,
        link: 'https://decoded.polkadot.network/2022edition/',
        name: $tr('IROS2021 (sponsored by Robonomics)')
      },
      {
        id: 2,
        link: '/blog/winter-robonomics-school/',
        name: $tr('Robonomics Winter School 2021 (hosted by Robonomics)')
      }
    ],
  },
  {
    id: 3,
    year: '2019 - 2020',
    sideLine: "Robonomics 2019-2020",
    title: $tr('Transition to Multinetwork — Along Came Polkadot'),
    text: `<p class='timeline__descr'> ${await $tr('There came a time when the existing limitations of Ethereum')} <a class='timeline__link' href='https://blog.aira.life/on-top-of-two-world-computers-research-questions-a83570f4c8b1' target='_blank' aria-label-"check out our blog to learn more">${await $tr('began to stand out clearly')}</a> ${await $tr('(in particular, poor scalability, low speed and very high cost of transactions). The upgrade to ETH2.0 was supposed to fix the situation, but this upgrade was repeatedly delayed. Whilst we did not want to leave the Ethereum network, we realized that in the current situation it was difficult to implement our use cases, and we began to look for an alternative network. The sharded blockchain ecosystem Polkadot became this alternative. We started by experimenting with the Substrate framework to migrate the main Robonomics features and to deploy our own testnet. By the end of this stage, we had deployed our parachain on the Rococo testnet and started preparing to get a slot on the Kusama network.')}</p><p class='timeline__descr'> ${await $tr('Continuing to study IoT systems, we have identified the main functionality of Robonomics, which can add value to users — the function of decentralized cloud for IoT. This idea formed the basis of')} <a class='timeline__link' href='https://blog.aira.life/robonomics-web-services-and-rws-token-intro-d730ab50ad42' target='_blank' aria-label="learn more about robonomics web services">${await $tr('Robonomics Web Services')}</a> ${await $tr('. The RWS infrastructure took on all the functions of a typical centralized cloud, but without the standard problems of global availability, security and privacy. Additionally, we came up with the idea of parachain IoT subscriptions that allows subscription holders to use the blockchain network without having to pay a fee for each transaction. The first experiment with IoT subscriptions was the emission of the RWS token, which allows its owner to send 1 transaction per block. In addition, we began to take the first steps to develop our own hardware kit for control of smart devices (the DAOS concept).')} </p><p class='timeline__descr'> ${await $tr('Of course, support for Robonomics on Ethereum has not stopped. The Robonomics communication stack has been finalized to version')} <a class='timeline__link' href='https://github.com/airalab/robonomics_comm/releases/tag/v1.0.0' target='_blank' aria-lable="check out lts.1.0 version"> ${await $tr('LTS 1.0.')}</a>${await $tr('. The XRT token has started trading on several exchanges (in particular, the Uniswap DEX), and the liquidity incentivization program was launched.')}</p><p class='timeline__descr'> ${await $tr('The team actively developed ways to interact with the community. The first version of our')} <a class='timeline__link' href='https://blog.aira.life/the-robonomics-dapp-overview-acb003f51b9a' target='_blank' aria-label="learn more about our dapp">dapp</a> ${await $tr('site and Robonomics Wiki have been launched. For more transparent and convenient project management, we started using')} <a class='timeline__link' href='https://client.aragon.org/#/aira/' target='_blank' aria-label="learn more about aragon DAO">${await $tr('Aragon DAO')}</a>. We hosted <a class='timeline__link' href='https://www.youtube.com/playlist?list=PLkys45xOYDp0qEsCerAXdw9cofJZW3Fie' target='_blank' aria-label="learn more about robonomics winter school"> ${await $tr('Robonomics Winter School')}</a> ${await $tr('in 2019 for newcomers to the project.')}</p><p class='timeline__descr'> ${await $tr('Collaborations with congenial projects also continued. Robonomics and DAO IPCI introduced a service for collecting and analyzing sensory data —')} <a class='timeline__link' href='https://www.youtube.com/watch?v=shqey3tmNUk' target='_blank' aria-label="learn more about RoSeMAN"> ${await $tr('RoSeMAN')}</a> ${await $tr('. Robonomics became the foundation for the')} <a class='timeline__link' href='https://merklebot.com/' target='_blank' aria-label="learn more about merklebot">${await $tr('MerkleBot')}</a> ${await $tr('project, which is developing a system for smart leasing of robotic equipment.')}</p>`,
  },
  {
    id: 4,
    year: '2017 - 2018',
    title: $tr('The Rise of Robonomics Network'),
    sideLine: "Robonomics 2017-2018",
    text: `<p class='timeline__descr'> ${await $tr('We understood that autonomous agents needed an environment that would ensure their reliable technical and economic operations. For several years we had been developing a protocol for creating a decentralized network of providers that help robotic agents provide their services. Tools for network maintenance and for the communication stack between Ethereum and ROS have been developed. In 2018 we published the')} <a class='timeline__link' href='https://static.robonomics.network/docs/whitepaper/Robonomics-whitepaper-en.pdf' target='_blank' aria-label="check out robonomics whitepaper">${await $tr('Robonomics Whitepaper')}</a> ${await $tr('and the alpha version of Robonomics Network was launched on the Ethereum mainnet. Active preparations continued for the XRT token generation event (which eventually happened in the spring of 2019 due to the first crypto winter).')}</p><p class='timeline__descr'> ${$tr('From this period, Robonomics began to dynamically develop use cases related to Industry 4.0 — smart factories, smart cities and smart homes — and this brought our close attention to the IoT world. In search of innovation, the team has presented several large and unique R&D demos: a civil')} <a class='timeline__link' href='https://sensors.robonomics.network/' target='_blank' aria-label="learn more about sensor network">${$tr('sensor network')}</a>, <a class='timeline__link' href='https://www.frontiersin.org/articles/10.3389/frobt.2020.00070' target='_blank' aria-label="learn more about a water drone"> ${await $tr('a water drone')} </a> ${$tr('for environmental monitoring (supported by a sensor systems manufacturer')} <a class='timeline__link' href='https://www.libelium.com/libeliumworld/success-stories/drones-sensors-and-blockchain-for-water-quality-control-in-the-volga-river-to-promote-trustworthy-data-and-transparency/' target='_blank' aria-label="learn more about Libelium">${await $tr('Libelium')}</a>), <a class='timeline__link' href='https://youtu.be/LjIB3-4kQ0A' target='_blank' aria-label="check out a smart factory model">${await $tr('a smart factory model')}</a>${await $tr(', a self-employed')} <a class='timeline__link' href='https://gaka-chu.online/' target='_blank' aria-label="learn more about robot artist gaka-chu">${await $tr('robot artist Gaka-chu')}</a>${await $tr(', and a')} <a class='timeline__link' href='https://github.com/DistributedSky' target='_blank' aria-label="learn more about drone traffic management system"> ${await $tr('drone traffic management system')} </a>. ${await $tr('Robonomics started cooperation with the DAO IPCI project on the environmental assets management using Web3 technologies and IoT devices.')}</p>`,
    events: [
      {
        id: 0,
        link: 'https://www.youtube.com/watch?v=wAezcsUYzy8',
        name: $tr('Crypto Valley Conference 2018'),
      },
      {
        id: 1,
        link:  'https://youtu.be/-G6JT8wCDlc?list=PLkys45xOYDp0HW0LpbvnCCrv-MUc-lI0x',
        name: $tr('European Parliament workshop ‘The Economy of Robots’')
      },
      {
        id: 2,
        link: 'https://cryptovalley.swiss/consensus-2018/',
        name: $tr('Consensus 2018 conference')
      },
      {
        id: 3,
        link: 'https://www.ledgerjournal.org/ojs/index.php/ledger/article/view/177',
        name: $tr('Symposium on Blockchain for Robotic Systems at MIT Media Lab')
      },
      {
        id: 4,
        link: 'https://blog.aira.life/robonomics-2018-lets-sum-up-d6cc10110c0b',
        name: $tr('Robonomics-2018 summer school hosted by Robonomics.')
      },
    ],
    line: true,
  },
  {
    id: 5,
    year: '2016 - 2017',
    title: $tr('Bringing Together Web3 Techs and Robotic Frameworks'),
    sideLine: "Robonomics 2016-2017",
    text: `<p class='timeline__descr'>${await $tr('This was a period of active R&D during which we identified a range of tasks, in which P2P technologies have capabilities that were not previously available for robotics. Combining Ethereum computer, IPFS file storage and Robot Operating System, we realized that any device could potentially become an')} <b>${await $tr('autonomous intelligent robot agent')}</b> ${await $tr('. In turn, this opened the way for us to the concepts of Robot-as-a-Service and the robot economy.')}</p><p class='timeline__descr'> ${await $tr('Our publications in scientific journals of this period are available in the')} <a class='timeline__link' href='/papers/' target='_blank' aria-label="check out our papers">${await $tr('Papers section')}</a>.</p><p class='timeline__descr'> ${await $tr('We have collected all R&D projects over the years in the')} <a class='timeline__link' href='https://ipfs.io/ipfs/QmRHvtsEViqHFN6Mt66p9o5MvvzB2H5uvfMTi8maAnLmfi' target='_blank' aria-label="find out more in our handy book">${await $tr('a handy book')}</a>.</p>`,
  },
  {
    id: 6,
    year: '2015 - 2016',
    sideLine: "Robonomics 2015-2016",
    title: $tr('Playing with Human-Machine Interaction through Ethereum'),
    text:  `<p class='timeline__descr'>${await $tr('It all started with an idea that dawned on the founders when Ethereum had only just launched its mainnet. What if the robot performs a task for a client for cryptocurrency, and its logic is controlled by a smart contract?')}</p><p class='timeline__descr'>${await $tr('To test the idea, we made a demo in which a drone controlled by an Ethereum computer was launched to achieve the specified GPS coordinates after the user completed a payment transaction.')}</p><p class='timeline__descr'>${await $tr('The demo is available on')} <a class='timeline__link' href='https://youtu.be/V_3rcP2Duv0' target='_blank' aria-label-"see the demo on youtube">${await $tr('YouTube')}</a>.</p>`,
  }
]
---

<Layout
  title={$tr("Timeline of infrastructure & tech development")}
  description={$tr("The Robonomics project started on 2015. See what was start idea and our checkpoints over the years. This is good brief introduction for newcomers and summary for pioneers")}
  ogImage="/website_cover_timeline.webp"
  pageTitle={$tr('Timeline since 2015')}
>
<section class="layout layout__content">
  {items.length && items.map(item => (
    <TimelineItem
      id={item.id}
      year={item.year}
      text={item.text}
      title={item.title}
      events={item.events}
      img={item.img}
      linkWithImg={item.linkWithImg}
      sideLine={item.sideLine}
    />
  ))}
</section>

</Layout>

<style>
@media screen and (max-width: 480px) {
  .timeline__main-title h1 {
    font-size: 1.6rem;
  }
}
</style>