---

const {
  anchor = false,
  block = false,
  buttonstyle = '3d',
  buttoncolor = 'blue',
  link,
  scale = '1',
  disabled = false,
  extraCls = '',
  radius = false,
  noTarget =  false,
  ...attrs
} = Astro.props;

// Generate the CSS classes based on the props
const classes = [
  'rb-button',
  block && 'rb-button-block',
  buttonstyle && `rb-button-${buttonstyle}`,
  buttoncolor && `rb-button-${buttoncolor}`,
  radius && `rb-button-radius`,
  extraCls
].filter(Boolean).join(' ');

// Determine the component type
const componentType = attrs.href || link ? 'a' : 'button';

// Define the smooth scroll directive replacement
const smoothScroll = anchor ? { updateHistory: false, offset: -250 } : null;
---

{componentType === 'a' ? (
  <a
    {...attrs}
    class={classes}
    style={`transform: scale(${scale});`}
    smooth-scroll={JSON.stringify(smoothScroll)}
    onclick={attrs.onClick}
    target={!noTarget ? "_blank" : "_self"} 
  >
    <slot />
  </a>
) : (
  <button
    {...attrs}
    class={classes}
    style={`transform: scale(${scale});`}
    smooth-scroll={JSON.stringify(smoothScroll)}
    onclick={attrs.onClick}
    disabled={disabled}
  >
    <slot />
  </button>
)}

<style>

  .rb-button {
    --b-color-background: var(--color-blue);
    --b-color-text: var(--color-light);
    --b-color-shadow: var(--color-dark);
    --b-color-borderwidth: 1px;
    --b-color-padding: 1rem;
    --b-color-hover: var(--color-light);

    align-content: center;
    appearance: none;
    background-color: var(--b-color-background);
    border-color: var(--b-color-background);
    border-style: solid;
    border-width: var(--b-color-borderwidth);
    color: var(--b-color-text);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    font-variation-settings: var(--font-flex-bold);
    font-weight: 500;
    gap: var(--b-color-padding);
    justify-content: center;
    line-height: 1;
    padding: var(--b-color-padding);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out
  }

  .rb-button:hover {
    background-color: color-mix(in srgb, var(--b-color-background) 85%, black);
    border-color: color-mix(in srgb, var(--b-color-background) 85%, black);
    color: var(--b-color-hover);
  }

  .rb-button-3d {
    box-shadow: 4px 4px 0 var(--b-color-shadow);
  }

  .rb-button[disabled] {
    pointer-events: none;
    filter: grayscale(1);
    --b-color-background: var(--color-gray);
  }

  .rb-button-block{
    display: block;
    width: 100%;
  }

  .rb-button-radius {
    border-radius: 6px;
  }
</style>