---
// Importing data
import { meta } from '../data/meta';

// Translations
import { languageTag } from '../paraglide/runtime';
import "../assets/scripts/utils/translate.js";

// Components
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';

// Extract site metadata
const { siteName, siteDescription, siteUrl } = meta;
const { 
  title, 
  description, 
  ogImage, 
  pageImageWidth = '1280', 
  pageImageHeight = '765',
  pageTitle, 
  pageIntroText,
  casePath 
} = Astro.props;


// Get case data if casePath exists
import items from '../data/cases.js';
const caseData = casePath ? items.cases.filter(c => casePath.pathname.includes(c.path)) : [];

// Default meta values
const pageTitleFinal = caseData.length ? await $tr(caseData[0]?.title) : await title || `${siteName} / Robonomics Network`;
const pageDescriptionFinal = caseData.length ? await $tr(caseData[0]?.description) : await description || siteDescription;
const pageImageFinal = caseData.length
  ? `${siteUrl}${caseData[0]?.metaImg || '/opengraph/default.png'}`
  : (ogImage && `${siteUrl}${ogImage}` || `${siteUrl}/opengraph/default.png`);

// Import styles
import '../assets/styles/main.css';
---

<!doctype html>
<html lang={languageTag()} dir={languageTag() === 'ar' ? 'rtl' : 'ltr'}>
<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="icon" href="/favicon.ico" sizes="any" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/app-icons/app-icon-120.png" />
	<link rel="icon" type="image/png" sizes="192x192" href="/app-icons/app-icon-192.png" />
	<link rel="icon" type="image/png" sizes="256x256" href="/app-icons/app-icon-256.png" />
	<meta name="generator" content={Astro.generator} />

	<title>{pageTitleFinal}</title>
	<meta name="description" content={pageDescriptionFinal}>

  <link rel="preload" as="font" href="/fonts/RobotoFlex-CustomSubset.woff2" type="font/woff2" crossorigin />

	<!-- Open Graph Metadata -->
	<meta property="og:title" content={pageTitleFinal}>
	<meta property="og:description" content={$trVue(pageDescriptionFinal)}>
	<meta property="og:type" content="website">
	<meta property="og:url" content={siteUrl + Astro.url.pathname || siteUrl}>
	<meta property="og:image" content={pageImageFinal}>
	<meta property="og:image:width" content={pageImageWidth}>
	<meta property="og:image:height" content={pageImageHeight}>
	<meta property="og:site_name" content={siteName}>
	
	<!-- Twitter Metadata -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content={siteUrl + Astro.url.pathname || siteUrl}>
	<meta name="twitter:title" content={pageTitleFinal}>
	<meta name="twitter:description" content={pageDescriptionFinal}>
	<meta name="twitter:image" content={pageImageFinal}>
	<meta name="twitter:site" content="@AIRA_Robonomics">
	<meta name="twitter:creator" content="@AIRA_Robonomics">

</head>
	<body>
      <Header />
    
      <main>
    
        {pageTitle && (
          <>
            <section class="layout text-center">
              <h1 set:html={pageTitle} />
            </section>

            {pageIntroText && (
              <section class="layout layout__content pageintro" set:html={pageIntroText}>
              </section>
            )}
          </>
        )}

        <slot />
      </main>

      <Footer />
	</body>
</html>

<style>
  :global(body) {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

</style>

<script src="../assets/scripts/utils/scroll-in-view-animation.js"></script>